---
const {count} = Astro.props as {count: number};

import {getCollection} from "astro:content";
const episodes = await getCollection("episodes");

const selectedEpisodes = episodes.slice(0, count);
---

<ul class='list-disc p-4'>
  {
    selectedEpisodes.map((e) => (
      <li class='hover:underline hover:text-blue-400'>
        <a href={e.data.link}>{e.data.title}</a>
        <p>{e.data.fetchedAt}</p>
      </li>
    ))
  }
</ul>
